/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2016, 6:51:22 PM
    Author     : hieu
*/

*{font-family: raleway;}

html {
    box-sizing: border-box;
}

body {
    background-color: #F0F0FA;
}

html, p, body {
    margin: auto;
    padding: 0;
}

ul {
    margin-top: 0px;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.alert {
    color: red;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: #F0F0FA;
    border: 1px solid;
    cursor: pointer;
    /*    float: right;*/
    padding: 0 43px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

a:visited {
    color: #2A333C;
}

.login-page, .register-page {
    font-size: 2em;
}

/*---- LogIn and Register Page -----*/


.banner-welcome {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.banner-h2 {
    color: #336666;
}

.banner-h1, .banner-h2 {
    margin: 0;
}

.banner-login, .banner-register {
    width: 100%;
    height: 50px;
    margin-bottom: 60px;
    background-color: #2A333C;
    color: white;
    font-size: 1.2em;
    text-align: center;
    line-height: 50px;
}

.login-form, .register-form {
    display: inline-block;
    width: 100%;
    text-align: center;
}

label {
    display: inline-block;
    width: 250px;
    text-align: center;
}

label, input {
    margin: 3px 0;
}

.input-username, .input-password {
    border: white;
    font-size: 1em;
    width: 200px;
    height: 33px;
} 

#logInButton {
    color: white;
    background: #2A333C;
    border: #2A333C 1px solid;
    width: 200px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin-left: 260px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;
    /*    margin: 10px 0;
        float: right;*/
}

.show-register-form-button {
    margin-left: 260px;
}

#registerButton {
    color: white;
    background: #2A333C;
    border: #2A333C 1px solid;
    width: 200px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 20px 0;
    font-size: 1em;
}

.show-login-page {
    width: 100%;
    height: 100px;
}

.show-login-form-button {
    float:right;
    margin-top: 25px;

}
/*---- Chat Page -----*/

.navigation {
    margin: 20px auto;
    background: #f4f5f6;
    height: 40px;
    max-width: 1000px;
    width: 95%;
}

.navigation-list {
    list-style: none;
    padding-right: 20px;
}

.navigation-title {
    color: black;
    font-size: 40px;
    font-weight: 700;
    line-height:40px;
    padding-left: 20px;
}

.navigation-item {
    display: list-item;
    float: left;
    margin-bottom: 0;
    margin-left: 5px;
    line-height: 40px;
}

.float-right {
    float: right;
}

.page {
    display: none;
}

.chat-room {
    width: 90%;
    margin: 2% 5%;
}

.chat-division {
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
    background-color: #eeeeee;
    display: block;
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    padding: 1%;
    overflow-y: scroll;
}

.message-input {
    box-sizing: border-box;
    height: 30px;
    width: 90%;
}

#sendingButton {
    height: 30px;
    width: 10%;
    padding: 0;
    /* float: right; */
    text-align: center;
}

.bubble {
    box-sizing: border-box;
    float: left;
    text-align: left;
    width: auto;
    max-width: 80%;
    position: relative;
    clear: both;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 20px;
    color: #000;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    word-wrap: break-word;
}

.bubble-right {
    float: right;
}

.sender, .receiver {
    width: 100%;
}

.time {
    font-size: 0.6em;
    float: right;
}

.bubble p {
    font-size: 0.8em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*#sendingInput {
    width: 93%;
    float: left;
    margin: 0;
    height: 30px;
}*/



/* ===========================
   ====== Media Queries ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{

    .login-page, .register-page {
        font-size: 1em;
    }

    .show-login-page {
        height: 50px;
    }

    label {
        width: 100px;

    }
    .input-username, .input-password {
        width: 150px;
        height: 25px;
    }

    #logInButton { 
        width: 150px;
        height: 25px;
        margin-left: 100px;
    }

    #registerButton {
        width: 150px;
        height: 25px;
    }

    label, input {
        margin: 5px 0;
    }

    .show-register-form-button {
        margin-left: 100px;
        padding: 2px 43px;
    } 

    .show-login-form-button {
        margin-top: 10px;
        padding: 2px 43px;
    }
    /*    .body {
            clear: both; 
            margin: 0 auto; 
            width: 90%;
            font-size: 70%;
        }
    
        #sendingInput {
            width: 85%;
        }
        #sendingButton {  
            width: 13%;
            float: right;
        }
    
        .chat-division {
            height: 300px;
        }
    
        .bubble {
            font-size: 1em;
            max-width: 50%;
        }*/

}