/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2016, 6:51:22 PM
    Author     : hieu
*/

*{font-family: raleway;}

html {
    box-sizing: border-box;
}

body {
    background-color: #F0F0FA;
}

html, p, body {
    margin: auto;
    padding: 0;
}

ul {
    margin-top: 0px;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.alert {
    color: red;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: #F0F0FA;
    border: 1px solid;
    cursor: pointer;
    /*    float: right;*/
    padding: 0 43px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.button:visited, .button:active, .button:hover, .button:focus, .button {
    color: #2A333C;
}

.login-page, .register-page {
    font-size: 2em;
}

/*---- LogIn and Register Page -----*/


.banner-welcome {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.banner-h2 {
    color: #336666;
}

.banner-h1, .banner-h2 {
    margin: 0;
}

.banner-login, .banner-register {
    width: 100%;
    padding: 1% 0;
    height: 50px;
    margin-bottom: 60px;
    background-color: #2A333C;
    color: white;
    font-size: 1.2em;
    text-align: center;
    line-height: 50px;
}

.login-form, .register-form {
    display: inline-block;
    width: 100%;
    text-align: center;
}

label {
    display: inline-block;
    width: 250px;
    text-align: center;
}

label, input {
    margin: 3px 0;
}

.input-username, .input-password {
    border: white;
    font-size: 1em;
    width: 200px;
    height: 33px;
} 

#logInButton {
    color: white;
    background: #2A333C;
    border: #2A333C 1px solid;
    width: 200px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin-left: 260px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;
    /*    margin: 10px 0;
        float: right;*/
}

.show-register-form-button {
    margin-left: 260px;
}

#registerButton {
    color: white;
    background: #2A333C;
    border: #2A333C 1px solid;
    width: 200px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 20px 0;
    font-size: 1em;
}

.show-login-page {
    width: 100%;
    height: 100px;
}

.show-login-form-button {
    float:right;
    margin-top: 25px;

}
/*---- Chat Page -----*/

/*.navigation {
    margin: 20px auto;
    background: #f4f5f6;
    height: 40px;
    max-width: 1000px;
    width: 95%;
}

.navigation-list {
    list-style: none;
    padding-right: 20px;
}

.navigation-title {
    color: black;
    font-size: 40px;
    font-weight: 700;
    line-height:40px;
    padding-left: 20px;
}

.navigation-item {
    display: list-item;
    float: left;
    margin-bottom: 0;
    margin-left: 5px;
    line-height: 40px;
}*/

.float-right {
    float: right;
}

.page {
    display: none;
}

.profile {
    float: left;
    width: 25%;
    height: 150px;
    background-color: #eeeeee;
}

.navbar {
    float: left;
    width: 75%;
    height: 150px;
    background-color: #15161B;
}

.chat-sidebar {
    float: left;
    width: 25%;
    margin: 0 auto;
    height: 516px;
    background-color: #15161B;
}

/*
.search-container {
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search-container input#search {
    width: 100%;
    height: 50px;
    background: #F0F0F8;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
}

.search-container input#search::-webkit-input-placeholder {
    color: #65737e;
}

.search-container .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}*/

.search {
    width: 70%;
    padding: 0;
    margin: 30px auto;
}

.search-contacts-container {
    width: 100%;
    height: 100px;
    background-color: red;
    display: red
    ;
}

.search-input {
    width: 100%;
    padding: 6px 15px 6px 30px;
    border: 0;
    background: url('../img/search-btn.png') no-repeat 8px 6px;
    background-color: #F0F0F8;
}

.chat-rooms {
    width: 75%;
    float: left;
}

ul.search-contacts {
  list-style-type: none;
  padding-left: 10%;
}

ul.search-contacts > li.contact {
   background-color: #F0F0F8;
   width: 80%;
}

ul.contacts {
    list-style-type: none;
    padding: 0;
}

ul.contacts > li.contact {
    background-color: #F0F0F8;
    width: 80%;
    margin: 0 auto;
}


.active-contact {
    background-color: red;
}

.contact-box {
    border: 4px solid #35577A;
    margin-bottom: -4px;  /*  prevent double border css   */
    width: 100%;
    height: 35px;      /* vertical align div */
    line-height: 35px;
    background-color: #F0F0F8;
}

.contact a {
    text-decoration: none;
    color: black;
}

.chat-division {
    box-sizing: border-box;
    background-color: #eeeeee;
    display: block;
    height: 400px;
    width: 100%;
    padding: 1%;
    overflow-y: scroll;
}

.chat-form {
    background-color: #eeeeee;
    padding: 30px;
}

.message-input {
    box-sizing: border-box;
    height: 50px;
    width: 85%;
    margin-right: 5%;
}


#sendingButton {
    height: 50px;
    width: 10%;
    padding: 0;
    background-color: #15161B;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.bubble {
    box-sizing: border-box;
    font-size: 1.5em;
    float: left;
    text-align: left;
    width: auto;
    max-width: 80%;
    position: relative;
    clear: both;
    /*    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;*/
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 20px;
    color: white;
    background-color: #445878;
    word-wrap: break-word;
}

.bubble-right {
    float: right;
    color: white;
    background-color: #31353d;
}

.bubble-middle {
    float: none;
    width: 140px;
    margin: 0 auto;
    color: white;
    background-color: #ba0;
}

.chat-message {
    width: 100%;
}

.time {
    font-size: 0.6em;
    float: right;
}

.bubble p {
    font-size: 0.8em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*#sendingInput {
    width: 93%;
    float: left;
    margin: 0;
    height: 30px;
}*/



/* ===========================
   ====== Media Queries ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{

    .login-page, .register-page {
        font-size: 1em;
    }

    .show-login-page {
        height: 50px;
    }

    label {
        width: 100px;

    }
    .input-username, .input-password {
        width: 150px;
        height: 25px;
    }

    #logInButton { 
        width: 150px;
        height: 25px;
        margin-left: 100px;
    }

    #registerButton {
        width: 150px;
        height: 25px;
    }

    label, input {
        margin: 5px 0;
    }

    .show-register-form-button {
        margin-left: 100px;
        padding: 2px 43px;
    } 

    .show-login-form-button {
        margin-top: 10px;
        padding: 2px 43px;
    }
    /*    .body {
            clear: both; 
            margin: 0 auto; 
            width: 90%;
            font-size: 70%;
        }
    
        #sendingInput {
            width: 85%;
        }
        #sendingButton {  
            width: 13%;
            float: right;
        }
    
        .chat-division {
            height: 300px;
        }
    
        .bubble {
            font-size: 1em;
            max-width: 50%;
        }*/

}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}